@charset "utf-8";
@font-face {
  font-family: 'dune_font';
  src: url('OrthodoxHerbertarian.ttf');
}
@font-face {
  font-family: 'rubik';
  src: url('Rubik-VariableFont_wght.ttf');
}
#edu_iesmila_daw2_diw_pac1 {
  background-image: url("../imatges/background.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(121, 106, 57, 0.658);
}
#edu_iesmila_daw2_diw_pac1 header {
  padding-top: 40px;
  padding-left: 20px;
  font-family: Rubik;
  color: white;
  font-size: 60px;
  -webkit-text-stroke: 2px black;
  margin: 10px;
}
#edu_iesmila_daw2_diw_pac1 header h1 {
  font-family: dune_font;
  color: #EEDCC2;
  font-size: 80px;
  text-shadow: 2px 2px #353535;
}
#edu_iesmila_daw2_diw_pac1 header h1::after {
  content: '';
}
#edu_iesmila_daw2_diw_pac1 header h1::first-letter {
  font-size: 2em;
  color: #a48360;
}
#edu_iesmila_daw2_diw_pac1 nav {
  margin: auto;
  margin-top: 60px;
  width: 900px;
}
#edu_iesmila_daw2_diw_pac1 nav li {
  padding-left: 25px;
  padding-right: 15px;
  padding-bottom: 25px;
  font-family: dune_font;
  color: #a48360;
  font-size: 35px;
  text-align: center;
  display: inline-block;
}
#edu_iesmila_daw2_diw_pac1 nav li:hover {
  color: white;
}
#edu_iesmila_daw2_diw_pac1 nav li:hover::before {
  content: "▣";
  font-size: 30px;
  display: inline-block;
  position: relative;
  bottom: 15px;
}
#edu_iesmila_daw2_diw_pac1 nav li::before {
  content: "▤";
  font-size: 30px;
  display: inline-block;
  position: relative;
  bottom: 15px;
}
#edu_iesmila_daw2_diw_pac1 section {
  padding-top: 50px;
  width: 900px;
  height: 100%;
  background-color: #312b31;
  margin: auto;
}
#edu_iesmila_daw2_diw_pac1 section article {
  font-family: Rubik;
  margin: auto;
  padding-top: 40px;
  width: 95%;
  height: fit-content;
  background: linear-gradient(to bottom, white 0%, #312b31 99%);
}
#edu_iesmila_daw2_diw_pac1 section article:nth-child(2n) {
  background: linear-gradient(to bottom, #9f805e 0%, #312b31 99%);
}
#edu_iesmila_daw2_diw_pac1 section article > h1 {
  margin: auto;
  height: 60px;
  line-height: 2em;
  width: 80%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 2em;
  background-color: white;
  border-top: #312b31 1px solid;
  border-right: #312b31 40px solid;
  border-left: #312b31 40px solid;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#edu_iesmila_daw2_diw_pac1 section article > h2 {
  margin: auto;
  width: 80%;
  text-align: center;
  height: 60px;
  background-color: #312b31;
  color: white;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #e67308, 0 0 30px #e67308, 0 0 40px #e67308, 0 0 55px #e67308, 0 0 75px #e67308;
  border-right: #312b31 40px solid;
  border-left: #312b31 40px solid;
  border-bottom-left-radius: 15px;
}
#edu_iesmila_daw2_diw_pac1 section article > h2::after {
  color: yellow;
  font-size: 3em;
  content: "”";
}
#edu_iesmila_daw2_diw_pac1 section article > h2::before {
  color: yellow;
  font-size: 3em;
  content: "“";
}
#edu_iesmila_daw2_diw_pac1 section article figure {
  float: right;
  padding-right: 46px;
  width: 200px;
  height: 300px;
}
#edu_iesmila_daw2_diw_pac1 section article figure img {
  width: 200px;
  height: 300px;
}
#edu_iesmila_daw2_diw_pac1 section article figure h1 {
  position: relative;
  top: -3px;
  text-align: center;
  padding: 10px;
  font-style: italic;
  background-color: white;
  width: 100px;
  height: fit-content;
  border-right: #312b31 40px solid;
  border-left: #312b31 40px solid;
  border-bottom-left-radius: 15px ;
  border-bottom-right-radius: 15px;
}
#edu_iesmila_daw2_diw_pac1 section article header {
  position: relative;
  top: -50px;
  left: 220px;
}
#edu_iesmila_daw2_diw_pac1 section article header i {
  display: inline-block;
  height: 70px;
  background: linear-gradient(to right, #000000 0%, #725326 45%, #967635 51%, #ffffff 100%);
  width: 30px;
  margin-right: 100px;
  border-left: #312b31 3px solid;
  border-right: #312b31 3px solid;
}
#edu_iesmila_daw2_diw_pac1 section article main {
  position: relative;
  top: -70px;
  padding-bottom: 100px;
}
#edu_iesmila_daw2_diw_pac1 section article main div {
  margin-left: 120px;
  padding: 20px;
  font-size: 17px;
  width: 400px;
  height: 40%;
  background-color: #312b31;
}
#edu_iesmila_daw2_diw_pac1 section article main div p {
  line-height: 1.5em;
  text-align: justify;
  text-justify: inter-word;
}
#edu_iesmila_daw2_diw_pac1 section article main div p:first-child {
  color: #a48360;
}
#edu_iesmila_daw2_diw_pac1 section article main div p:first-child::first-letter {
  font-family: dune_font;
  font-size: 2.5em;
}
#edu_iesmila_daw2_diw_pac1 section article main div p:first-child::first-line {
  font-weight: bold;
}
#edu_iesmila_daw2_diw_pac1 section article main div p:last-child {
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #e67308, 0 0 30px #e67308, 0 0 40px #e67308, 0 0 55px #e67308, 0 0 75px #e67308;
  color: white;
  text-align: center;
}
#edu_iesmila_daw2_diw_pac1 section article main div p:last-child a::after {
  content: ' ' attr(href);
  display: block;
  color: white;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #e67308, 0 0 30px #e67308, 0 0 40px #e67308, 0 0 55px #e67308, 0 0 75px #e67308;
}
#edu_iesmila_daw2_diw_pac1 section article main div p:last-child::before {
  content: "";
  display: block;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid yellow;
}
