@charset "utf-8";
@font-face {
  font-family: 'dune_font';
  src: url('OrthodoxHerbertarian.ttf');
}
@font-face {
  font-family: 'rubik';
  src: url('Rubik-VariableFont_wght.ttf');
}
#edu_iesmila_daw2_diw_pac1 {
  background-image: url("../imatges/background.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(121, 106, 57, 0.658);
}
#edu_iesmila_daw2_diw_pac1 header {
  padding-top: 40px;
  padding-left: 20px;
  font-family: Rubik;
  color: white;
  font-size: 60px;
  -webkit-text-stroke: 2px black;
  margin: 10px;
}
#edu_iesmila_daw2_diw_pac1 header h1 {
  font-family: dune_font;
  color: #EEDCC2;
  font-size: 80px;
  text-shadow: 2px 2px #353535;
}
#edu_iesmila_daw2_diw_pac1 header h1::after {
  content: '';
}
#edu_iesmila_daw2_diw_pac1 header h1::first-letter {
  font-size: 2em;
  color: #a48360;
}
#edu_iesmila_daw2_diw_pac1 nav {
  margin: auto;
  margin-top: 60px;
  width: 1000px;
}
#edu_iesmila_daw2_diw_pac1 nav li {
  padding-left: 25px;
  padding-right: 15px;
  padding-bottom: 25px;
  font-family: dune_font;
  color: #a48360;
  font-size: 35px;
  text-align: center;
  display: inline-block;
}
#edu_iesmila_daw2_diw_pac1 nav li:hover {
  color: white;
}
#edu_iesmila_daw2_diw_pac1 nav li:hover::before {
  content: "▣";
  font-size: 30px;
  display: inline-block;
  position: relative;
  bottom: 15px;
}
#edu_iesmila_daw2_diw_pac1 nav li::before {
  content: "▤";
  font-size: 30px;
  display: inline-block;
  position: relative;
  bottom: 15px;
}
#edu_iesmila_daw2_diw_pac1 section {
  padding-top: 50px;
  width: 1000px;
  height: 100%;
  background-color: #312b31;
  margin: auto;
}
#edu_iesmila_daw2_diw_pac1 section article {
  font-family: Rubik;
  margin: auto;
  width: 95%;
  height: 33%;
  background: linear-gradient(to bottom, white 0%, #312b31 99%);
}
#edu_iesmila_daw2_diw_pac1 section article:nth-child(2n) {
  background: linear-gradient(to bottom, #9f805e 0%, #312b31 99%);
}
#edu_iesmila_daw2_diw_pac1 section article > h1 {
  margin: auto;
  width: 70%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 2em;
  background-color: white;
  border-right: #312b31 40px solid;
  border-left: #312b31 40px solid;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#edu_iesmila_daw2_diw_pac1 section article > h2 {
  margin: auto;
  width: 70%;
  text-align: center;
  height: 30px;
  background-color: #312b31;
  color: white;
  border-right: #312b31 40px solid;
  border-left: #312b31 40px solid;
  border-bottom-left-radius: 15px;
}
#edu_iesmila_daw2_diw_pac1 section article > h2::after {
  content: "";
}
#edu_iesmila_daw2_diw_pac1 section article figure img {
  display: inline-block;
  width: 200px;
}
#edu_iesmila_daw2_diw_pac1 section article header i {
  display: inline-block;
  height: 70px;
  background-color: #fff;
  width: 30px;
  margin-right: 100px;
}
#edu_iesmila_daw2_diw_pac1 section article main div {
  font-size: 18px;
  width: 600px;
  height: 40%;
  background-color: #312b31;
}
#edu_iesmila_daw2_diw_pac1 section article main div p:first-child {
  color: #a48360;
}
#edu_iesmila_daw2_diw_pac1 section article main div p:first-child::first-letter {
  font-size: 2.5em;
}
#edu_iesmila_daw2_diw_pac1 section article main div p:first-child::first-line {
  font-weight: bold;
}
